<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='./css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='./css/dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='./css/jumbotron-narrow.css') }}" rel="stylesheet">

</head>

<body>

  <div class="container">
    <div class="page-header">
      <h1>Tic-tac-toe</h1>
    </div>

    <div class="row placeholders">
      {% for position, square in board %}
      <div class="col-xs-4 placeholder">
        {% if square == 0 %}
        <img src="{{ url_for('static', filename='./images/x.svg') }}" class="img-responsive" alt="Generic placeholder thumbnail">
        {% endif %}
        {% if square == 1 %}
        <img src="{{ url_for('static', filename='./images/o.svg') }}" class="img-responsive" alt="Generic placeholder thumbnail">
        {% endif %}
        {% if square == None %}
        <a href='{{ position }}'>
          <img src="{{ url_for('static', filename='./images/blank.svg') }}" class="img-responsive" alt="Generic placeholder thumbnail"></a>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <form action="{{ url_for('new') }}">
      <button class="btn btn-lg btn-default btn-block" type='submit'>New Game</button>
    </form>

  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>