<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Alex's Tic-Tac-Toe game</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='./css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='./css/dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='./css/jumbotron-narrow.css') }}" rel="stylesheet"></head>

<body>

  <div class="container">
    <h1 class='text-center'>Tic-tac-toe</h1>
    <hr>

    <form action="{{ url_for('index') }}" method='post'>

      <div class="row placeholders">
        {% for position, square in board %}
        <div class="col-xs-4 placeholder">
          {% if square == 0 %}
          <img src="{{ url_for('static', filename='./images/x.svg') }}" class="img-responsive" alt="Generic placeholder thumbnail">
          {% endif %}
          {% if square == 1 %}
          <img src="{{ url_for('static', filename='./images/o.svg') }}" class="img-responsive" alt="Generic placeholder thumbnail">
          {% endif %}
          {% if square == None %}
          <a href='{{ position }}'>
          <img src="{{ url_for('static', filename='./images/blank.svg') }}" class="img-responsive" alt="Generic placeholder thumbnail">
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <button class="btn btn-lg btn-default btn-block" type='submit'>New Game</button>
      
    </form>

  </div>

  <!-- Modal -->
  {% if win[0] == True %}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h1 class="modal-title" id="myModalLabel">
            {% if win[1] == 1 %}
            <p class="text-center">You win</p>
            {% endif %}
            {% if win[1] == 0 %}
            <p class="text-center">Tie</p>
            {% endif %}
            {% if win[1] == -1 %}
            <p class="text-center">You lose</p>
            {% endif %}
          </h1>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
  <script>$('#myModal').modal('show')</script>
</body>
</html>